
#col1{
    background:#ebebeb;
    font-size:20px;
}

#col2,#col3{
    background:#faf9f9;
}

font{
    color:rgb(62, 62, 221);
}

#star{
    background:white;
}

#pink{
    color:#d800a9;
}

#green{
    color:#00b32d;
}

#heading{
    font-size:30px;
}

#colour{
    background:white;
}

#light{
    color:#919090
}

#lightbold{
    color:#858585
}